# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user
.Rbuildignore
.gitignore

# macOS
.DS_Store

# Build files
/man/figures/amphi_logo.png

# Ignore R project user-specific files
.Rproj.user/

# Ignore CSV files
*.csv

# Ignore PDF files
*.pdf

# Ignore HTML
/projects/00_dashboard/*.html
/sap_amphidata.html

# Ignore dashboard files
/projects/00_dashboard/dashboard_files/
/sap_amphidata_files/

